/* Base */
.b-btn_wArrow.b-btn_wide:after{
	padding-left: 16px;
	padding-right: 16px;
}
.b-btn_wide .b-text_btn{
	min-width: 115px;
	padding-left: 15px;
	padding-right: 19px;
}
.b-text_btn.is--wide{
	padding-left: 30px;
	padding-right: 30px;
}
.b-container_contacts,
.b-container_partner{
	max-width: 908px;
}
.b-page_contacts .b-section__heading,
.b-page_partner .b-section__heading {
	padding-top: 0;
	text-transform: none;
}
	.b-page_partner .b-section__heading {
		margin-bottom: 15px;
	}
.b-page_contacts .b-section__heading{
	padding-bottom: 25px;
}
.b-section.b-section_contacts{
	padding: 48px 0 27px;
}
.b-section.b-section_contacts-alt{
	padding: 0px 0 35px;
}
.b-section.b-section_partner-rating{
	padding-bottom: 49px;
}
.b-section_partner-rating .b-section__heading{
	margin-bottom: 5px;
}
.text{
	font-family: 'Roboto', serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
	color: #282324;
}
.text--condensed{
	font-family: "Roboto Condensed", serif;
}
.text--small{
	font-size: 14px;
	line-height: 18px;
}
.text--medium{
	font-size: 18px;
	line-height: 21px;
}
.text--big{
	font-size: 22px;
	line-height: 28px;
}
.text--large{
	font-size: 28px;
	line-height: 32px;
}
.text--bold{
	font-weight: 700;
}
.mr-14{
	margin-right: 14px;
}
.is--text-centered{
	text-align: center;
}
.is--mobile-visible{
	display: none;
}

/* Buttons */

.b-btn {
	position: relative;
	display: inline-block;
	min-width: 100px;
	padding: 10px 10px;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border: none;
	outline: none;
	transition: all 300ms;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.b-btn:hover {
	box-shadow: 0 0 24px 6px rgba(0, 0, 0, 0.13);
}

.b-btn.with--arrow {
	padding-right: 50px;
}

.b-btn.with--arrow-left {
	padding-left: 50px;
}

.b-btn.with--arrow i {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid;
}

.b-btn.with--arrow-left i {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-right: 1px solid;
}

.b-btn--purple:hover,
.b-btn--yellow {
	background-color: #e9c72f;
	color: #231f20;
}

.b-btn--yellow:hover,
.b-btn--purple {
	background-color: #7139a4;
	color: #fff;
}

.b-btn--yellow-border {
	background: transparent;
	border: 1px solid #e9c72f;
	color: #231f20;
}

.b-btn--yellow-border i {
	border-color: #e9c72f!important;
}
.b-btn--bordered{
	border: 1px solid;
}
.b-btn--white{
	color: #fff;
}
.b-btn--black{
	color: #231f20;
}

.b-btn.is--hidden{
	min-width: 0;
	min-height: 20px;
	padding-right: 30px;
}
.b-btn.is--hidden span{
	display: none;
}
.b-btn.is--hidden i{
	border: none;
}

/* Info */
.info{
	max-width: 875px;
	padding: 0 30px 30px;
	box-sizing: border-box;
	background-color: #f2c916;
}
.info:before,
.info:after{
	content: " ";
	display: table;
}
.info:after{clear: both;}
.info.is--white{
	background: #fff;
}
.info.is--transparent{
	background: transparent;
}
.info.with--form{
	margin-top: 70px;
}
.info.is--no-margin{
	margin-top: 30px;
}
.info__form{
	float: left;
	width: 62.9447852%;
	margin-top: -73px;
}
.info__form.is--float-right{
	float: right;
}
.info__form.is--no-margin{
	margin-top: -30px;
}
.info__list{
	float: right;
	width: 37.0552147%;
	padding: 59px 7px 18px 45px;
	box-sizing: border-box;
}
.info__list.is--padding-less{
	padding: 53px 5px 20px 8px;
}
.info__list.is--float-left{
	float: left;
}
.info__worktime{
	float: right;
	width: 23.4355828%;
	padding: 19px 0px 30px;
}
.info__worktime.is--white{
	background: #fff;
}
.info__worktime.is--padding-more{
	padding: 21px 20px 19px 14px;
}
.info__map{
	float: right;
	width: 59.6319018%;
	margin-right: 2.6993865%;
}

/* Form */
.form{
	width: 100%;
}
.form__inner{
	padding: 35px 44px 16px 30px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}
.form__header{
	margin: 0 0 14px;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #231f20;
	text-align: center;
}
.form__subheader{
	margin: 0 1px 5px;
	font-family: "Roboto Condensed", serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #231f20;
}
.form__text{
	margin: 0 2px 9px;
	font-family: 'Roboto', serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #4b4b4b;
}
.form__group{
	margin-bottom: 12px;
}
.is--two-col .form__field{
	display: inline-block;
	width: 50%;
	margin-right: -0.25em;
	vertical-align: top;
}
.is--two-col .form__field:not(:first-child){
	padding-left: 30px;
}
.is--two-col .form__field:not(:last-child){
	padding-right: 30px;
}
.form__field{
	display: block;
	margin-bottom: 17px;
	box-sizing: border-box;
}
.form__label{
	display: block;
	margin-left: 2px;
	margin-bottom: 4px;
	font-family: 'Roboto', serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #4b4b4b;
}
.form__input,
.form__textarea{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form__input{
	height: 31px!important;
}
.form__textarea{
	min-height: 145px;
	padding: 10px 12px;
}
.form__action{}

/* List */
.list{
	margin: 0; padding: 0;
	list-style: none;
}
.list__item{
	display: block;
	margin-bottom: 18px;
}
.list__item.last,
.list__item:last-child{
	margin-bottom: 0;
}
/* Map */
.map{
	width: 100%;
}
.map--small{
	height: 269px;
}
/* STATISTICS */
.statistics{
	max-width: 834px;
	margin: 0 auto;
}
.statistics__header{
	margin: 0 0 30px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #7239a6;
}
.statistics__header span{
	vertical-align: bottom;
}
.statistics__item{
	display: inline-block;
	width: 33.333333%;
	margin-right: -0.25em;
	margin-bottom: 30px;
	vertical-align: top;
}
.statistics__item-inner{
	display: block;
	position: relative;
	width: 233px;
	margin: 0 auto;
	padding: 35px 0 35px;
	background-color: #ffffff;
	box-shadow: 0 0 17px 3px rgba(0, 0, 0, 0.02);
	border-top: 1px solid #743aa7;
	text-align: center;
	transition: all 300ms linear;
}
.statistics__title{
	height: 50px;
	margin: 0 0 10px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 33px;
	font-weight: 300;
	line-height: 60px;
	text-align: center;
	color: #231f20;
}
.statistics__title span{
	display: inline-block;
	line-height: 24px;
}
.statistics__text{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 19px;
	font-weight: 300;
	line-height: 24px;
	color: #653294;
}
.statistics__text.is--bigger{
	font-size: 22px;
}
.statistics__value{
	font-size: 48px;
	font-weight: 700;
	color: #653294;
}

/* customers-saved */
.customers-saved{
	overflow: hidden;
	padding: 30px 0 0;
	max-width: 830px;
	margin: 0 auto;
}
.customers-saved__text{
	position: relative;
	float: left;
	padding-left: 10px;
	margin-right: 30px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 22px;
	line-height: 27px;
	font-weight: 300;
	color: #231f20;
}
.customers-saved__text:before{
	content: '';
	position: absolute;
	left: 0; top: 5px; bottom: 5px;
	width: 1px;
	background-color: #f2c90c;
}
.customers-saved__text span{
	display: block;
}
.customers-saved__text strong{
	font-weight: 700;
}
.customers-saved__tag{
	float: left;
	margin-right: 15px;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	color: #231f20;
	text-align: center;
}
.customers-saved__tag > span{
	display: block;
	padding: 4px 8px;
	background-color: #7b3db1;
	background-image: radial-gradient(circle 15px at center, #7b3db1 0%, #653294 100%);
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	color: #ffffff;
}
.customers-saved__tag strong{
	display: block;
	font-size: 18px;
	font-weight: 700;
}
.customers-saved__tag strong span{
	font-size: 14px;
	font-weight: 700;
}

/* ABOUT */
.about-company{
	max-width: 960px;
	padding: 50px 0 70px;
	margin: 0 auto;
	overflow: hidden;
}
.about-company__desc{
	margin-right: 410px;
}
.about-company__title{
	margin: 0 0 35px;
	font-family: "Playfair Display", sans-serif;
	font-size: 30px;
	line-height: 32px;
	font-weight: 700;
	text-transform: none;
	color: #231f20;
}
.about-company__title span{
	color: #714397;
}
.about-company__title .is--mobile-hidden{
	color: #231f20;
}
.about-company__text{
	margin: 0 0 20px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	color: #231f20;
}
.about-company__img{
	float: right;
}
.about-company__img-title{
	margin-top: -30px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #231f20;
	text-align: center;
}

/* Company goals */
.target{
	max-width: 850px;
	padding-top: 60px;
	margin: 0 auto;
	text-align: center;
}
.target__item{
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-right: -0.25em;
	margin-bottom: 30px;
	padding: 0 35px;
	vertical-align: top;
	text-align: left;
}
.target__icon{
	float: left;
	width: 80px;
	padding-right: 10px;
	text-align: right;
}
.target__desc{
	margin-left: 90px;
}
.target__title{
	margin: 0 0 15px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #231f20;
}
.target__text{
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	color: #231f20;
}

/* Documents */
.documents{}
.documents__wrapper{
	display: inline-block;
	margin-right: -0.25em;
	width: 80%;
	vertical-align: top;
}
.documents__item{
	position: relative;
	display: inline-block;
	margin-right: -0.25em;
	margin-bottom: 30px;
	width: 33.333333%;
	max-height: 200px;
	line-height: 200px;
	text-align: center;
	vertical-align: top;
}
.documents__item img{
	vertical-align: middle;
}
.documents__item-download{
	position: absolute;
	bottom: 4px;
	left: 4px;
	width: 68px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: #f2c90c;
}
.documents__item-download:hover{
	-webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
}
.documents__pagination{
	display: none;
	margin-bottom: 50px;
	text-align: center;
}
.documents__pagination-item{
	display: inline-block;
	width: 26px;
	margin-right: -0.25em;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-decoration: none;
	color: #231f20;
}
.documents__pagination-item.is--active{
	color: #f2c90c;
	font-size: 24px;
}
.documents__garantee{
	display: inline-block;
	margin-right: -0.25em;
	padding-top: 80px;
	padding-left: 2%;
	width: 18%;
	vertical-align: top;
}
.documents__garantee-header{
	margin: 0 0 15px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #231f20;
}
.documents__garantee-text{
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	color: #231f20;
}

/* WHY WE */
.b-section__heading.is--half-width.is--text-right{
	width: 50%;
	padding-left: 60px;
	padding-right: 35px;
	text-align: right;
	box-sizing: border-box;
}
.why-we{
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.why-we__slider{
	float: left;
	overflow: hidden;
	position: relative;
	width: 514px;
	padding-bottom: 80px;
}
.why-we__slider img{
	max-width: 100%;
}
.why-we__slide{
	float: left;
}
.why-we__text{
	float: right;
	width: 50%;
}
.why-we__text-item{
	display: inline-block;
	width: 50%;
	margin-right: -0.25em;
	vertical-align: middle;
}
.why-we__text-desc{
	position: relative;
	padding: 20px 14px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	color: #231f20;
}
.why-we__text-desc:after{
	content: '';
	position: absolute;
	left: 0; top: 0; bottom: 0;
	width: 5px;
	background-color: #f5f5f5;
}
.why-we__text-item:nth-child(2) .why-we__text-desc:after,
.why-we__text-item:nth-child(3) .why-we__text-desc:after,
.why-we__text-item:nth-child(6) .why-we__text-desc:after{
	background-color: #f2c90c;
}
.why-we__text-desc strong{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.why-we__slider-control{
	position: absolute;
	bottom: 21px;
	z-index: 10;
	width: 59px;
	height: 59px;
	border: none;
	border-radius: 0;
	padding: 0;
	font-size: 24px;
	background-color: #f2c90c;
	cursor: pointer;
	-webkit-box-shadow:  0 0 18px 2px rgba(0,0,0,0);
	box-shadow: 0 0 18px 2px rgba(0,0,0,0);
	-webkit-transition: -webkit-box-shadow 400ms;
	-o-transition: -o-box-shadow 400ms;
	transition: box-shadow 400ms;
}
.why-we__slider-control:hover{
	-webkit-box-shadow:  0 0 18px 2px rgba(0,0,0,0.26);
	box-shadow: 0 0 18px 2px rgba(0,0,0,0.26);
}
.why-we__slider-control.slick-disabled{
	opacity: 0.6;
	cursor: default;
}
.why-we__slider-control.slick-disabled:hover{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.why-we__slider-control--prev{
	right: 60px;
}
.why-we__slider-control--next{
	right: 0;
}

/* press */
.b-section_press{
	padding-bottom: 25px;
}
.press-articles{
	overflow: hidden;
}
.press-articles.is--opened{
	height: auto!important;
}
.press{
	display: inline-block;
	margin-right: -.25em;
	margin-bottom: 35px;
	width: 50%;
}
.press__logo{
	float: left;
	width: 190px;
	padding-right: 18px;
	padding-top: 44px;
	box-sizing: border-box;
	text-align: right;
}
.press__desc{
	position: relative;
	margin-left: 190px;
	padding-left: 18px;
	padding-right: 10px;
}
.press__desc:after{
	content: '';
	position: absolute;
	left: 0; top: 5%;
	width: 1px;
	height: 90%;
	background-color: #f2c90c;
}
.press__title{
	margin: 0;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: #231f20;
}
.press__date{
	display: block;
	margin-bottom: 20px;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	color: #959595;
}
.press__text{
	margin: 0 0 10px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #231f20
}
.press__link{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #231f20;
}


/* Partner Step */
.partner-steps{
	max-width: 890px;
	padding-left: 4px;
	padding-bottom: 30px;
}
.partner-step{
	position: relative;
	display: inline-block;
	width: 228px;
	vertical-align: top;
}
.partner-step:not(:last-child){
	margin-right: 78px;
	margin-bottom: 47px;
}
.partner-step--1{
	margin-top: 0;
}
.partner-step--1 .partner-step__inner:after{
	right: -12px;
}
.partner-step--2{
	margin-top: 30px;
}
.partner-step--3{
	margin-top: 60px;
}
.partner-step__inner{
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 219px;
	padding: 36px 22px 20px 22px;
	box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	box-sizing: border-box;
}
.partner-step__inner:after{
	content: attr(data-step);
	position: absolute;
	right: -5px; bottom: -16px;
	opacity: 0.5;
	font-family: "Roboto Condensed", serif;
	font-size: 72px;
	line-height: 72px;
	font-weight: 700;
	text-transform: uppercase;
	color: #dadce1;
}
.partner-step__header{
	margin-bottom: 30px;
}
.partner-step__icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}
.partner-step__title{
	display: inline-block;
	vertical-align: middle;
	font-family: "Roboto Condensed", serif;
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	color: #231f20;
}
.partner-step__body{}
.partner-step__text{
	font-family: 'Roboto', serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	color: #231f20;
}
.partner__line{
	position: absolute;
	right: -79px; bottom: 15px;
	width: 79px;
	height: 128px;
	z-index: 10;
	background: url('../images/partner-icons/line.png') 0 0 no-repeat;
	background-size: cover;
}
.partner__line:after,
.partner__line:before{
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #f2c90c;
	opacity: 0.9;
}
.partner__line:before{
	top: -9px; left: -9px;
}
.partner__line:after{
	bottom: -9px; right: -9px;
}

.page--about-us .b-tile_buy.is--mobile-visible{
	display: none;
}
.page--about-us .b-block_buy{
	justify-content: center;
	margin-bottom: 40px;
}

.b-footer.is--fixed{
	position: fixed;
	left: 0; right: 0; bottom: 0;
}
@media screen and (max-width: 1060px){
	.why-we .b-section__heading.is--half-width.is--text-right{
		width: 100%;
		text-align: center;
	}
	.why-we__slider{
		float: none;
		margin: 0 auto;
	}
	.why-we__text{
		float: none;
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
		padding: 0 20px;
	}
}
@media screen and (max-width: 992px){
	.info,
	.partner-steps{
		margin: 0 auto;
	}
}

@media screen and (max-width: 991px){
	.documents__wrapper{
		float: none;
		width: 100%;
		margin: 0 0 30px;
	}
	.documents__garantee{
		display: none;
	}
	.press {
		display: block;
		max-width: 640px;
		padding: 0 20px;
    margin: 0 auto 35px;
    width: 100%;
	}
	.page--about-us .b-tile_buy:nth-child(2n){
		margin-right: 20px;
	}
}
@media screen and (max-width: 900px){
	.info,
	.partner-steps{
		width: 96%;
	}
	.partner-steps{
		padding: 0 0 30px;
		text-align: center;
	}
	.partner-steps .partner-step{
		margin-right: 24px;
		text-align: left;
		transition: 300ms all linear;
	}
	.partner__line{
    right: -76px;
		transform: rotate(20deg);
		transition: 300ms all linear;
    transform-origin: 0 0;
	}
}
@media screen and (max-width: 830px){
	.partner-steps .partner-step{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.partner-step--1,
	.partner-step--2,
	.partner-step--3{
		margin-top: 0;
	}
	.partner__line{
		right: auto;
		left: 40px;
		bottom: -128px;
    transform: rotate(-50deg);
    transform-origin: 0 0;
	}
	.partner-step--2 .partner__line{
		bottom: -148px;
    transform: rotate(-66deg);
	}
}

@media screen and (max-width: 768px){
	.about-company{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		    -ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.about-company__img,
	.about-company__desc{
		float: none;
		max-width: 640px;
		margin: 0 auto 20px;
	}
	.is--two-col .form__field{
		display: block;
		width: 100%;
		margin-right:0;
	}
	.is--two-col .form__field:not(:first-child),
	.is--two-col .form__field:not(:last-child){
		padding: 0;
	}
	.b-footer.s-highlited{
		margin-top: 0;
	}
}
@media screen and (min-width: 640px){
	.info__worktime.is--mobile-visible{
		display: none;
	}
	.info__form.is--mobile-visible{
		display: none;
	}
	.info__form.is--pc-visible{
		display: block;
	}
}
@media screen and (max-width: 640px){
	.b-page_contacts .b-section__heading {
		padding-bottom: 0;
		margin-bottom: 20px;
	}
	.b-section.b-section_contacts-alt{
		padding: 10px 0 45px;
	}
	.b-section.b-section_contacts{
		padding: 30px 0 20px;
	}
	.b-section_partner-rating .b-section__subheading{
		display: none;
	}
	.b-section_contacts__container{
		align-items: flex-start;
		flex-direction: column;
		display: flex;
	}
	.info{
		position: relative;
		width: 94%;
		margin: 0;
		padding: 0;
	}
	.info.with--form{
		margin-top: 320px;
	}
	.info.is--no-margin{
		margin-top: 0;
	}
	.info__form{
		float: right;
		width: 100%;
		margin-right: -6%;
		margin-top: -320px;
	}
	.info__form.is--pc-visible{
		display: none;
	}
	.info__list.is--padding-more{
		float: none;
		width: 100%;
		padding: 20px 22px 120px;
		clear: both;
	}
	.info__list{
		float: none;
		width: 100%;
		padding: 20px 5px 15px 40px;
		clear: both;
	}
	.info__map{
		float: left;
		width: 100%;
		margin: 0 0 20px;
	}
	.info__worktime{
		display: none;
	}
	.info__worktime.is--mobile-visible{
		display: block;
		position: absolute;
		right: 0; bottom: 15px;
		float: right;
		width: 147px;
		padding: 10px;
		clear: both;
	}
	.list__item:last-child{
		margin: 0;
	}
	.list__item.is--half-width{
		display: inline-block;
		width: 50%;
		margin-right: -0.25em;
		box-sizing: border-box;
	}
	.list__item.is--half-width+.list__item.is--half-width{
		padding-left: 25px;
	}
	.form__inner{
		padding: 18px 19px
	}
	.form__action{
		margin: 0;
		text-align: right;
	}
	.text--big{
		font-size: 19px;
    line-height: 21px;
	}
	.text--medium{
		font-size: 13px;
    line-height: 16px;
	}

/* Documents */
.documents__wrapper{
	display: block;
	margin: 0;
	width: 100%;
}
.documents__item{
	display: none;
}
.documents__item.is--active{
	display: block;
	width: 100%;
	margin: 0 0 20px;
	text-align: center;
}
.documents__pagination{
	display: block;
}
.documents__garantee{
	display: none;
}
	
	/* Target */
	.target{}
	.target__item {
    display: block;
    width: 100%;
    margin-right:0;
    margin-bottom: 30px;
    padding: 0;
	}
	.target__desc{
		margin-left: 100px;
		line-height: 18px;
	}
	.target__title{
		margin-bottom: 10px;
	}
	
	/* statistics */
	.b-section_statistics {
		padding: 0;
	}
	.statistics .b-section__heading{
		margin-bottom: 25px;
	}
	.statistics .b-section__heading span{
		display: block;
		font-size: 16px;
		font-family: "Roboto Condensed", sans-serif;
		line-height: 21px;
		font-weight: 300;
		letter-spacing: 0.16px;
	}
	.statistics__header{
		margin-bottom: 13px;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 18px;
		font-weight: 700;
	}
	.statistics__item-inner{
		width: 100%;
		padding: 25px 0;
	}
	.statistics__title{
		height: 35px;
		font-family: "Roboto Condensed";
		font-size: 23px;
		line-height: 35px;
		font-weight: 300;
		text-transform: uppercase;
		color: #231f20;
	}
	.statistics__title span{
		line-height: initial;
	}
	.statistics__item:last-child .statistics__title{
		font-size: 16px;
		line-height: 16.6px;
		font-weight: 300;
		text-transform: none;
	}
	.statistics__value{
		font-size: 33px;
		font-weight: 700;
	}
	.statistics__text{
		font-size: 13px;
		font-weight: 300;
		line-height: 16.6px;
	}
	.statistics__text.is--bigger{
		font-size: 15px;
		font-weight: 300;
	}

	/* Buy */
	.page--about-us .b-section_buy .b-section__heading{
		margin-bottom: 25px;
	}
	.page--about-us .b-buy_single{
		display: none;
	}
	.page--about-us .b-buy_multi{
		max-width: 298px;
		-webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
		align-items: center;
		border: 1px solid #743aa7;
		border-width: 1px 0 0 1px;
	}
	.page--about-us .b-tile_buy{
		width: 149px;
		height: 135px;
		padding: 20px;
		margin: 0;
		border-width: 0 1px 1px 0;
	}
	.page--about-us .b-tile_buy:nth-child(2n){
		margin-right: 0;
	}
	.page--about-us .b-tile_buy p{
		margin-top: 0;
	}
	.page--about-us .b-buy__peoples,
	.page--about-us .b-tile_buy.is--mobile-hidden{
		display: none;
	}
	.page--about-us .b-tile_buy.is--mobile-visible{
		display: block;
	}
	.page--about-us .b-tile__heading_buy{
		font-size: 18px;
		line-height: 17px;
	}
	.page--about-us .b-tile__heading_buy.is--big{
		font-size: 21px;
	}
}


.b-tile__heading_buy.is--uppercase{
	font-size: 30px;
	text-transform: uppercase;
}
@media (max-width: 480px){
	.b-footer.is--fixed{
		position: static;
		left: 0; right: 0; bottom: 0;
	}


	/* ABOUT PAGE */
	.is--mobile-hidden{
		display: none!important;
	}
	.is--mobile-visible{
		display: block;
	}
	span.is--mobile-visible{
		display: inline-block;
	}
	.about-company{
		display: flex;
		flex-direction: column-reverse;
		padding: 20px 0 30px;
	}
	.about-company__img,
	.about-company__desc {
		width: 100%;
		float: none;
	}
	.about-company__img img{
		display: block;
		max-width: 88%;
		margin: 0;
	}
	.about-company__img-title{
		margin-top: -10px;
		font-size: 14px;
	}
	.about-company__title{
		font-size: 24px;
		text-align: center;
	}
	/* partners rating */
	.page--about-us .b-block_rating{
		padding: 0 20px;
	}
	/* customers saved */
	.customers-saved__text{
		min-height: 54px;
		margin-bottom: -20px;
	}
	.customers-saved__text strong{
		display: block;
		padding-right: 60px;
		font-size: 16px;
		font-weight: 700;
		color: #231f20;
	}
	.customers-saved__text span{
		display: none;
	}
	.customers-saved__tag{
		display: block;
		float: none;
		margin-bottom: 10px;
		text-align: right;
	}
	.customers-saved__tag span{
		display: inline-block;
	}
	.customers-saved__tag strong{
		display: inline-block;
	}

	/* rating */
	.b-section_rating .b-section__heading{
		margin-bottom: 10px;
	}
	.b-section_rating .b-section__subheading{
		display: none;
	}

	/* Contacts/Map */
	.b-section_map{
		display: none;
	}

	/* why we */
	.why-we .b-section__heading.is--half-width.is--text-right{
		width: 100%;
		padding: 0 0 0 10px;
		margin: 0 0 10px;
		text-align: left;
	}
	.why-we__slider,
	.why-we__text{
		float: none;
		width: auto;
	}
	.why-we__text{
		padding: 0;
	}
	.why-we__slider{
		margin-right: 20px;
	}
	.why-we__slider-inner{
		position: relative;
	}
	.why-we__slider-control{
		bottom: 51px;
	}
	.why-we__text{
		margin-top: -50px;
		margin-bottom: 40px;
		overflow: hidden;
	}
	.why-we__text-item{
		width: 68%;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.why-we__text-item:nth-child(5){
		float: right;
		margin-right: 20px;
	}
	.why-we__text-item:nth-child(5) .why-we__text-desc:after{
		right: 0;
		left: auto;
	}
	.why-we__text-desc{
		padding: 10px 25px 10px 19px;
		margin: 0;
		font-size: 14px;
		font-weight: 300;
	}
	.why-we__text-desc strong{
		font-size: 16px;
	}

	/* testimonials */
	.b-rating__block_btns{
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	/* press */
	.press{
		position: relative;
		width: 100%;
		padding: 0;
	}
	.press__logo{
		float: none;
		width: 100%;
		margin-bottom: 10px;
		padding: 0 0 0 18px;
		text-align: left;
	}
	.press__desc{
		position: static;
		margin: 0;
	}
	.press__desc:after{
		top: 0; bottom: 0;
		height: 100%;
	}
	.press__title{
		font-size: 16px;
		line-height: 20px;
	}
	.press__date,
	.press__link,
	.press__text{
		display: none;
	}

}
@media (max-width: 430px){
	.page--about-us .b-container_mid {
    padding-left: 10px;
    padding-right: 10px;
	}
	.b-404__buy .b-tile_buy {
			border-width: 1px 0 0 1px;
	}
	.b-404__buy .b-tile_buy:nth-child(2n) {
			border-right-width: 1px;
	}
	.b-404__buy .b-tile_buy:nth-child(3),
	.b-404__buy .b-tile_buy:nth-child(4) {
			border-bottom-width: 1px;
	}
}

/* EXIT POPUP */

.b-modal_exitPopup {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
	width: 545px;
	max-height: 264px;
	padding: 35px 34px;
	background-color: #f2c916;
	border-radius: 0;
}
.b-modal_exitPopup .box-modal_close{
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #000;
}
.b-modal_exitPopup .box-modal_close{
	top: 8px;
	right: 12px;
}
.b-modal__heading {
	margin-bottom: 25px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
}

.b-modal__heading_popup {
	margin: 0 auto 28px;
	display: inline-block;
	text-transform: none;
	font-size: 48px;
	color: #7239a8;
}

.b-modal__subheading {
	font-family: 'Roboto', sans-serif;
}

.b-modal__subheading_popup {
	float: right;
	margin-top: -2px;
	margin-right: 7px;
	font-size: 16px;
}

.b-modal__text {
	margin-top: 0;
	line-height: 1.4;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Roboto Condensed', sans-serif;
}
.b-modal__form_exitCallback {
	position: relative;
	top: -36px;
	right: 6px;
	margin: 0;
	padding: 56px 31px 15px;
	text-align: left;
	-webkit-box-shadow: 0 0 35px 7px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 35px 7px rgba(0, 0, 0, 0.15);
	background: #fff;
}

.b-modal__form_exitCallback label {
	margin-bottom: 10px;
	display: block;
	padding: 0;
	font-weight: 300;
	color: #4b4b4b;
}

.b-modal__form_callback input {
	margin-bottom: 26px;
}
.b-form__submit_feedback {
	margin-bottom: 70px;
	text-align: center;
	display: inline-block;
	height: auto;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #fff;
	background-color: #7239a7;
	cursor: pointer;
	-webkit-box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0);
	box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0);
	-webkit-transition: -webkit-box-shadow 200ms;
	-o-transition: -o-box-shadow 200ms;
	transition: box-shadow 200ms;
}

.b-form__submit_feedback:hover {
	-webkit-box-shadow: 0 0 35px 7px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 35px 7px rgba(0, 0, 0, 0.15);
}

.b-form__submit_feedback span.b-text_btn {
	display: inline-block;
	line-height: 40px;
	padding: 0 19px;
}

.b-form__submit_feedback span.fa {
	float: right;
	width: 37px;
	height: 38px;
	line-height: 38px;
	border-left: 1px solid #fff;
}
.b-modal__form_exitCallback input {
	margin-bottom: 32px;
}

.b-modal__form_callback button[type="submit"] {
	min-width: 191px;
}
.b-exitPopup__content {
	max-width: 185px;
}
.b-modal__btn_exit {
	margin: 0 auto;
	display: block;
	width: auto;
	border: none;
	padding: 0;
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
	color: #e3bc15;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	cursor: pointer;
}
.b-modal_error,
.b-modal_exitCallbackSuccess{
	border-radius: 0;
	padding-top: 50px;
	padding-bottom: 25px;
}
@media screen and (max-width: 599px){
	.b-modal_exitPopup {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 290px;
		max-height: none;
		height: 455px;
		padding: 18px;
	}
	.b-modal__form_exitCallback {
			position: static;
	}
	.b-exitPopup__content {
			margin: 0 auto;
	}
}



/* TESTIMONIALS PAGE */
.page--testimonials{}
@media screen and (max-width: 767px){
	.page--testimonials .b-section__heading{
		margin-bottom: 10px;
		font-size: 30px;
	}
}
.section--testimonials{
	overflow: hidden;
}
.testimonial{
	max-width: 1175px;
	padding-bottom: 77px;
	margin: 0 auto;
}
.testimonial__author{
	float: left;
	width: 180px;
	vertical-align: top;
	text-align: center;
}
.testimonial__author-link{
	display: block;
	width: 127px;
	height: 127px;
	margin: 0 auto 17px;
	border-radius: 50%;
	overflow: hidden;
}
.testimonial__author-link:hover{
	position: relative;
	background-color: #415a9a;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.testimonial__author-link:hover:after{
	content: '\f09a';
	position: absolute;
	left: 0; right: 0;
	font-size: 48px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	line-height: 127px;
	vertical-align: middle;
}
.testimonial__author-link:hover img{
	display: none;
}
.testimonial__author-photo{
	display: block;
	margin: 0 auto 17px;
	max-width: 127px;
	max-height: 127px;
	border-radius: 65px;
	overflow: hidden;
}
.testimonial__author-name{
	display: block;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #231f20;
}
.testimonial__details{
	position: relative;
	display: inline-block;
	max-width: 945px;
	vertical-align: top;
	margin-left: 24px;
	margin-right: -0.25em;

	box-shadow: 0 0 26px 9px rgba(0, 0, 0, 0.18);
	background-image: linear-gradient(-24deg, #5c2e88 0%, #7c3eb3 100%);
	color: #ffffff;
}
.testimonial__details:before{
	content: '';
	position: absolute;
	left: -28px;
	top: 30px;
	width: 1px;
	height: 1px;
	border-color: transparent #7c3eb3 transparent transparent;
	border-width: 10px 15px 10px 12px;
	border-style: solid;
}
.testimonial__details.is--yellow{
	background: #f2c90c;
}
.testimonial__details.is--yellow:before{
	position: absolute;
	left: auto;
	right: -28px;
	top: 32px;
	width: 1px;
	height: 1px;
	border-color: transparent transparent transparent #f2c90c;
	border-width: 8px 15px 8px 12px;
	border-style: solid;
}
.testimonial__text{
	position: relative;
	display: inline-block;
	width: 615px;
	padding: 30px 77px 40px 48px;
	vertical-align: top;
	margin-right: -0.25em;
	box-sizing: border-box;
}
.testimonial__rating{
	margin-bottom: 20px;
}
.testimonial__rating-star{
	margin-right: 2px;
	font-size: 24px;
	font-weight: 400;
	color: #ffffff;
}
.testimonial__rating-star.is--gold{
	color: #f2c90c;
}
.testimonial__rating-star.is--black{
	color: #000000;
}
.testimonial__desc{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
	color: #ffffff;
}
.testimonial__desc.is--black{
	color: #231f20;
}
.testimonial__desc-header{
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
}
.is--black .testimonial__desc-header{
	color: #231f20;
}
.testimonial__desc-text{
	margin: 0;
	font-weight: 300;
}
.testimonial__action{
	display: inline-block;
	margin-top: 50px;
	text-decoration: none;
	border: 1px solid;
	color: #ffffff;
	transition: all 300ms linear;
}
.testimonial__action:hover{
	border: 1px solid;
	color: #ffffff;
	-webkit-box-shadow: 0 0 35px 7px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 35px 7px rgba(0, 0, 0, 0.15);
}
.testimonial__action span{
	display: inline-block;
	vertical-align: top;
	padding: 9px 20px;
	margin-right: -0.25em;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	color: #ffffff;
}
.testimonial__action i {
	display: inline-block;
	vertical-align: top;
	width: 38px; height: 38px;
	font-size: 16px;
	line-height: 38px;
	font-weight: 400;
	border-left: 1px solid;
	text-align: center;
	color: #ffffff;
}
.testimonial__action.is--black,
.testimonial__action.is--black:hover,
.testimonial__action.is--black span,
.testimonial__action.is--black i{
	color: #231f20;
}
.testimonial__photo{
	display: inline-block;
	width: 330px;
	vertical-align: top;
	margin-right: -0.25em;
}
.testimonial__photo img{
	max-width: 100%;
}
.is--alt .testimonial__author{
	float: right;
}
@media screen and (max-width: 1199px){
	.testimonial{
		max-width: 1000px;
	}
	.testimonial__text{
		width: 450px;
		padding: 30px;
	}
	.is--alt .testimonial__author,
	.testimonial__details.is--yellow{
		float: left;
	}
}
@media screen and (max-width: 1020px){
	.testimonial{
		max-width: 700px;
	}
	.testimonial__details{
		max-width: 65%;
	}
}
@media screen and (max-width: 767px){
	.section--testimonials{
		padding-bottom: 30px;
	}
	.testimonial{
		display: none;
	}
	.testimonials-slider{
		display: block;
	}
}

/* Feedback Form */
.section--feedback{
	overflow: hidden;
}
.feedback{
	margin: 0 auto 100px;
	padding: 27px 67px;
	max-width: 560px;
	box-shadow: 0 0 26px 9px rgba(0, 0, 0, 0.18);
	background-image: linear-gradient(-24deg, #5c2e88 0%, #7c3eb3 100%);
	box-sizing: border-box;
	color: #fff;
}
.feedback .feedback__form{}
.feedback .feedback__form .col-l,
.feedback .feedback__form .col-r{
	min-width: 220px;
}
.feedback .feedback__form textarea{
	color: #231f20;
}
.feedback .feedback__form label{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
}
.feedback .feedback__form .b-feedbackForm__rating {
	margin-top: 9px;
	margin-bottom: 9px;
}
.feedback .feedback__form .b-feedbackForm__rating label{
	font-family: "FontAwesome";
	font-size: 24px;
	color: #fff;
}
.feedback .feedback__form .b-feedbackForm__rating:not(:checked) > label:before {
	position: absolute;
	left: 3px; top: 0;
	content: '\f005';
	letter-spacing: 1px;
	font-size: 24px;
	color: #fff;
}
.feedback .feedback__form .b-feedbackForm__rating:not(:checked) > label:after {
	display: inline-block;
	content: '\f005';
	letter-spacing: 1px;
	transform: scale(1) translate(0,0);
	-webkit-transition: color 100ms;
	-o-transition: color 100ms;
	transition: color 100ms;
}
.feedback .feedback__form .b-feedbackForm__rating:not(:checked) > label:hover:after {
	position: relative;
	z-index: 10;
	color: #f2c90c;
}
.feedback .feedback__form .b-feedbackForm__rating:not(:checked)> input:checked ~ label:after, 
.feedback .feedback__form .b-feedbackForm__rating:not(:checked)> input:hover ~ label:after{
	color: #f2c90c;
}
@media screen and (max-width: 767px){
	.feedback{
		padding: 27px 27px;
	}
}

/* Contacts Us */
.section--contact-us{
	overflow: hidden;
}
.contact-us{
	max-width: 690px;
	margin: 0 auto;
	padding-top: 50px;
}
.contact-us__header{
	margin-bottom: 29px;
	font-family: "Playfair Display";
	font-size: 30px;
	font-weight: 700;
	color: #000000;
}
.contact-us__header i{
	margin-left: 8px;
	margin-right: 5px;
	color: #ff0030;
}
.contact-us__text{
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #231f20;
}
.contact-us__text.is--first{
	margin-right: 220px;
}
.contact-us__items{
	width: 362px;
	margin-left: 56px;
	float: right;
	clear: both;
}
.contact-us__item{
	float: right;
	width: 181px;
	height: 175px;
	padding: 25px 20px;
	box-shadow: 0 0 26px 9px rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
}
.contact-us__item.is--unique{
	margin-left: 56px;
	margin-top: -160px;
}
.contact-us__item.is--active{
	background-color: #415a9a;
}
.contact-us__item-type{
	display: block;
	margin-bottom: 16px;
	font-family: "Roboto Condensed";
	font-size: 20px;
	font-weight: 400;
	color: #6c369d;
}
.contact-us__item-icon{
	display: block;
	line-height: 55px;
	margin: 0 auto 14px;
}
.contact-us__item-icon img{
	vertical-align: middle;
}
.contact-us__item-text{
	display: block;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	color: #663295;
}

.is--active .contact-us__item-type,
.is--active .contact-us__item-text{
	color: #fff;
}
@media screen and (max-width: 767px){
	.section--contact-us{
		padding-bottom: 30px;
	}
	.contact-us{
		max-width: 480px;
		padding-top: 30px;
	}
	.contact-us__text.is--first{
		margin-right: 0;
	}
	.contact-us__text.is--first p{
		margin-bottom: 10px;
	}
	.contact-us__item{
		width: 133px;
		height: 134px;
		padding: 15px 10px;
		box-shadow: 0 0 24px 6px rgba(0, 0, 0, 0.18);
	}
	.contact-us__item-type{
		margin-bottom: 5px;
		font-size: 16px;
		font-weight: 400
	}
	.contact-us__item-icon{
		line-height: 34px;
		transform: scale(.67);
		margin-bottom: 5px;
	}
	.contact-us__item-text{
		font-size: 12px;
		font-weight: 300;
	}
	.contact-us__item.is--unique{
		margin-left: 5px;
		margin-top: 25px;
	}
	.contact-us__header{
		margin-bottom: 15px;
		text-align: center;
	}
	.contact-us__text{
		font-size: 14px;
		line-height: 19px;
	}
}
/* ----- NEW FOOTER ----- */
.g-pos_relative {
	position: relative;
	max-width: 1280px;
}
.b-footer__toTop{
    position: absolute;
    top: -21px;
    right: 29px;
    text-align: center;
    cursor: pointer;
/*    height: 38px;*/
/*    width: 125px;*/
}
.b-heading_toTop{
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
}
.b-btn_toTop{
    display: inline-block;
    height: 38px;
    width: 38px;
    border: none;
    padding: 0;
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f2c90c;
    cursor: pointer;
}

/* Testimonials Slider */
.testimonials-slider{
	display: none;
	position: relative;
	margin-bottom: 40px;
	z-index: 10;
}
.testimonials-slider__inner{
	overflow: hidden;
}
.testimonials-slider__inner .slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.testimonials-slider__item{
	position: relative;
	padding-bottom: 20px;
	float: left;
	height: 100%;
	display: block;
	min-height: 1px;
}
.testimonials-slider:before{
	content: '';
	position: absolute;
	bottom: 0; right: -9px;
	width: 92%;
	height: 92%;
	background-color: #f2c90c;
	z-index: -1;
}
.slick-active.testimonials-slider__item:after{
	content: '';
	position: absolute;
	bottom: -20px; right: 0;
	width: 92%;
	height: 92%;
	background-color: #f2c90c;
	z-index: -1;
}
.testimonials-slider__item-inner{
	padding: 24px 50px;
	background-image: radial-gradient(circle 135px at center, #7b3db1 0%, #653294 100%), linear-gradient(-24deg, #5c2e88 0%, #7c3eb3 100%);
}
.testimonials-slider__item-title{
	margin: 0 0 5px;
	font-family: "Playfair Display";
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
}
.testimonials-slider__item-rate{
	margin-bottom: 16px;
}
.testimonials-slider__item-rate-star{
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -2px;
	color: #fff;
}
.testimonials-slider__item-rate-star.is--gold{
	color: #f2c90c;
}
.testimonials-slider__item-text{
	margin: 0 0 25px;
	font-family: "Roboto Condensed";
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
}
.testimonials-slider__item-link{
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
	color: #ffffff;
}
.testimonials-slider__item-link:hover{
	text-decoration: none;
	color: #fff;
}
.testimonials-slider__item-link i{
	margin-left: 3px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}
.testimonials-slider__control{
	position: absolute;
	top: 50%;
	z-index: 10;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border: none;
	border-radius: 0;
	padding: 0;
	margin-top: -18px;
	background: transparent;
	font-size: 36px;
	color: #f2c90c;
	cursor: pointer;
}
.testimonials-slider__control:hover{}
.testimonials-slider__control.slick-disabled{
	opacity: 0.6;
	cursor: default;
}
.testimonials-slider__control.slick-disabled:hover{}
.testimonials-slider__control--prev{
	left: 4px;
}
.testimonials-slider__control--next{
	right: 4px;
}
@media screen and (max-width: 767px){
	.testimonials-slider{
		display: block;
	}
}


/* SECTION VIDEO */
.b-section_video{
	padding-top: 30px;
	padding-bottom: 70px;
}
.b-section_video:after{
	content: '';
	clear: both;
	display: table;
}
.b-card_video{
/*    display: inline-block;*/
	float: left;
	margin-right: 55px;
	position: relative;
	height: auto!important;
	-webkit-box-shadow: 0 0 18px 2px rgba(0,0,0,0.26);
	box-shadow: 0 0 18px 2px rgba(0,0,0,0.26);
}
.b-card_video iframe{
	display: block;
	width: 100%;
}
.b-video__overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 60px;
	background-color: rgba(255,255,255, 0.7);
	cursor: pointer;
}
.b-video__overlay .fa-circle{
	position: absolute;
	color: #fff;
}
.b-videohelp{
	display: inline-block;
	width: 375px;
}
.b-videohelp:first-child{
	margin-bottom: 30px;
	display: none;
}
.b-heading_videohelp{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 700;
}
.b-descr_videohelp{
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
.b-stages_videohelp{
	position: relative;
	margin-bottom: 30px;
	counter-reset: listItem;
	padding-left: 0;
	list-style: none;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
.b-stages_videohelp:before{
	content: '';
	position: absolute;
	left: 7px;
	width: 1px;
	height: 100%;
	background-color: #f2c916;
}
.b-stages_videohelp li{
	position: relative;
	height: 49px;
	margin-bottom: 20px;
	line-height: 22px;
}
.b-stages_videohelp li:before{
	float: left;
	width: 23px;
	height: 50px;
	line-height: 50px;
	counter-increment: listItem;
	content: counter(listItem);
	color: #653294;
	font-size: 24px;
	font-weight: 700;
}
.b-stage_videohelp{
	position: absolute;
	top: 50%;
	left: 23px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
@media (max-width: 1099px){
	.b-videohelp,
	.b-card_video{
			margin-right: auto;
			margin-left: auto;
	}
	.b-card_video{
			margin-bottom: 25px;
			float: none;
			width: 100%;
			max-width: 625px;
	}
	.b-videohelp,
	.b-videohelp:first-child{
			display: block;
	}
	.b-videohelp:first-child{
			margin-bottom: 30px;
	}
	.b-videohelp:last-child .b-heading_videohelp{
			display: none;
	}
	.b-heading_videohelp{
			text-align: center;
	}
}

@media (max-width: 480px){
	.b-videohelp:last-child .b-stages_videohelp{
			display: none;
	}
	.b-section_video{
			padding-top: 0;
	}
	.b-videohelp{
			margin-bottom: 20px;
			width: auto;
	}
	.b-videohelp:first-child{
			margin-bottom: 20px;
	}
	.b-card_video{
			margin-bottom: 5px;
	}
	.b-descr_videohelp{
			margin-top: 5px;
	}
}

/* MENU */
.menu{
	position: absolute;
	top: -9999px;
	left: 0;
	right: 0;
	z-index: 100;
	margin: 0;
	padding: 0;
	background-color: #fff;
	box-shadow: 0px 8px 35px 2px rgba(0,0,0,0.1);
	font-family: 'Roboto', sans-serif;
}
.menu__close{
	position: absolute;
	right: 0; top: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #f2c90c;
	text-align: center;
	cursor: pointer;
}
.menu__close i{
	vertical-align: middle;
}
.menu__inner{
	display: flex;
	padding-right: 40px;
	background: #fff;
}
.menu__inner.is--mobile-only{
	display: none;
}
@media screen and (max-width: 768px) {
	.menu__inner {
		display: none;
	}
	.menu__inner.is--mobile-only{
		display: flex;
	}
}
@media screen and (max-width: 768px) {
	.menu__inner {
		flex-direction: column;
	}
}
.menu__block{
	width: 33.33333%;
	padding: 20px 20px 23px;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #5b2d85;
	background: #fff;
}
@media screen and (max-width: 768px) {
	.menu__inner {
		padding: 50px 40px;
	}
	.menu__block {
		width: 100%;
		padding: 0 20px;
		border: none;
	}
}
.menu__block:last-child{
	border-right: none;
}
.menu__title{
	margin: 0 0 25px;
}
.menu__title,
.menu__title-link{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	line-height: 26px;
	font-weight: 700;
	text-decoration: none;
	color: #75479b;
}
.menu__title-link:hover{
	text-decoration: underline;
	color: #75479b;
}
@media screen and (max-width: 768px) {
	.menu__title{
		margin: 0;
	}
	.menu__title-link{
		margin-bottom: 0;
    height: auto;
    padding-right: 12px;
    line-height: 40px;
    font-size: 18px;
    text-align: right;
    transition: padding 200ms;
	}
	.menu__title-link:hover,
	.menu__title-link:focus{
		padding-right: 6px;
	}
	.menu__title-link:after{
		margin-left: 7px;
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	}
}
.menu__list{
	margin: 0;
	padding: 0;
	list-style: none;
}
@media screen and (max-width: 768px) {
	.menu__list {
		display: none;
	}
}
.menu__list-item{
	margin-bottom: 20px;
}
.menu__list-link{
	display: block;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	text-decoration: none;
	color: #000000;
}
.menu__list-link:hover{
	text-decoration: underline;
	color: #663294;
}

/* FOOTER */
.footer{
	padding: 40px 0 20px 0;
	font-family: "Roboto Condensed", sans-serif;
	background-image: linear-gradient(-24deg, #231f20 0%, #2b2728 100%);
}
.footer__inner{
	max-width: 1270px;
	margin: 0 auto;
}
.footer__inner.is--mobile-only{
	display: none;
}
@media screen and (max-width: 1350px){
	.footer__inner{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media screen and (max-width: 768px){
	.footer{
		padding: 0;
	}
	.footer__inner{
		display: none;
	}
	.footer__inner.is--mobile-only{
		display: block;
		padding: 0;
	}
}
.footer__content{
	display: flex;
}
.footer__contacts{
	width: 470px;
}
@media screen and (max-width: 1250px){
	.footer__contacts{
		width: 320px;
	}
}
.footer__contacts-title.is--mobile-only{
	display: none;
	min-height: 48px;
	font-size: 22px;
	line-height: 24px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	color: #ffffff;
}
@media screen and (max-width: 768px){
	.footer__contacts-title.is--mobile-only{
		display: block;
	}
}
.footer__contacts-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer__contacts-item{
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 0 34px;
	padding: 0;
}
.footer__contacts-item i{
	margin-right: 28px;
}
.footer__contacts-item .footer__contacts-text{
	width: calc(100% - 75px);
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}
@media screen and (max-width: 1350px){
	.footer__contacts-item .footer__contacts-text{
		font-size: 18px;
		line-height: 18px;
	}
}
.footer__contacts-item .footer__contacts-link{
	position: static;
	height: auto;
	top: auto; right: auto; bottom: auto; left: auto;
	width: calc(100% - 75px);
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}
@media screen and (max-width: 1350px){
	.footer__contacts-item .footer__contacts-link{
		font-size: 18px;
		line-height: 18px;
	}
}
.footer__contacts-item .footer__contacts-link:hover{
	color: #ffca00;
	text-decoration: underline;
}
.footer__copyrights{
	margin-top: 60px;
	margin-left: 75px;
	font-family: "Roboto Condensed";
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
}
.footer__copyrights span{
	font-size: 24px;
}
.footer__blocks{
	display: flex;
	width: calc(100% - 470px);
	flex-wrap: wrap;
	align-items: flex-start;
}
@media screen and (max-width: 1250px){
	.footer__blocks{
		width: calc(100% - 320px);
	}
}
.footer__block{
	width: 30%;
}
.footer__block:nth-child(3n-1){
	width: 40%;
}
@media screen and (max-width: 992px){
	.footer__block{
		width: 50%;
	}
	.footer__block:nth-child(3n-1){
		width: 50%;
	}
}
.footer__block-icons i {
	margin-left: 30px;
	margin-bottom: 15px;
	vertical-align: middle;
}
.footer__block-title{
	min-height: 48px;
	margin: 0;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
}
@media screen and (max-width: 1350px){
	.footer__block-title{
		min-height: 48px;
		font-size: 24px;
		line-height: 24px;
	}
}
.footer__block-subtitle{
	margin: 0 0 10px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #ffffff;
}
@media screen and (max-width: 1350px){
	.footer__block-subtitle{
		font-size: 16px;
		line-height: 16px;
	}
}
.footer__block-list{
	margin: 0 0 40px;
	padding: 0;
	list-style: none;
}
.footer__block-item{
	margin: 0;
	padding: 0;
}
.footer__block-link{
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
}
@media screen and (max-width: 1350px){
	.footer__block-link{
		font-size: 14px;
		line-height: 16px;
	}
}
.footer__block-link:hover{
	color: #ffca00;
	text-decoration: underline;
}
.footer__block-link--other{
	margin-top: 10px;
	font-size: 16px;
}
@media screen and (max-width: 1350px){
	.footer__block-link--other{
		font-size: 14px;
	}
}

@media screen and (max-width: 768px){
	.footer__copyrights {
		margin: 20px auto;
		text-align: center;
	}
	.footer__content{
		flex-direction: column;
	}
	.footer__blocks,
	.footer__block,
	.footer__block:nth-child(3n-1),
	.footer__contacts{
		width: 100%;
	}
	.footer__block-title,
	.footer__contacts-title.is--mobile-only{
		min-height: 0;
		margin: 0;
    padding: 12px 18px;
		border-top: 1px dashed #686566;
		font-size: 18px;
		line-height: 24px;
    cursor: pointer;
    color: #fff;
	}
	.footer__block:first-of-type .footer__block-title{
		border-top: none;
	}
	.footer__block i {
		font-size: 19px;
		vertical-align: -1px;
		color: #f2c90c;
	}
	.footer__block-link .icon-phone {
		display: inline-block;
    vertical-align: -3px;
    width: 16px;
    height: 16px;
    background-image: url(../images/redesign/phone-yellow.svg);
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
	}
	.footer__block-subtitle{
		display: none;
	}
	.footer__block-title:after,
	.footer__contacts-title:after{
		content: "\f107";
    float: right;
    color: #f2c90c;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	}
	.footer__block-title.is--active:after,
	.footer__contacts-title.is--active:after{
		content: '\f106';
	}
	.footer__block-icons,
	.footer__block-list,
	.footer__contacts-list{
		display: none;
		list-style: none;
    margin: 0 0 20px 20px;
    padding-left: 10px;
    border-left: 1px solid #f2c90c;
	}
	.footer__block-item,
	.footer__contacts-item{
		margin-bottom: 15px;
	}
	.footer__block-link.callback{
		position: static;
    height: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
		font-size: 14px;
		line-height: 16px;
		font-weight: 300;
		text-decoration: none;
		color: #fff;
	}
	.footer__block-link,
	.footer__contacts-link{
		font-size: 14px;
		line-height: 16px;
    font-weight: 300;
	}
	.footer__block-link:active,
	.footer__contacts-link:active{
		text-decoration: none;
	}
	.footer__block-link i{
		position: absolute; left: 34px;
	}
	.footer__block-link-text{
		position: relative;
		display: block;
		padding-left: 42px;
	}
}

/* ICONS */
.icon{
	display: inline-block;
}
.icon-close{
	width: 21px;
	height: 21px;
	background: url('../images/icons/close.png') 0 0 no-repeat;
}
.icon-phone{
	width: 43px;
	height: 43px;
	background: url('../images/icons/phone.png') 0 0 no-repeat;
}
.icon-phone-alt{
	width: 43px;
	height: 43px;
	background: url('../images/icons/phone-alt.png') 0 0 no-repeat;
}
.icon-mail{
	width: 47px;
	height: 46px;
	background: url('../images/icons/mail.png') 0 0 no-repeat;
}
.icon-home{
	width: 47px;
	height: 43px;
	background: url('../images/icons/home.png') 0 0 no-repeat;
}
.icon-skype{
	width: 45px;
	height: 45px;
	background: url('../images/icons/skype.png') 0 0 no-repeat;
}
.icon-visa{
	width: 71px;
	height: 23px;
	background: url('../images/icons/visa.png') 0 0 no-repeat;
}
.icon-mastercard{
	width: 61px;
	height: 38px;
	background: url('../images/icons/mastercard.png') 0 0 no-repeat;
}