@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400,500,700');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Playfair Display', serif;
*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.hidden {
    display: none!important;
}
.bold{
    font-weight: 700;
}
body{
    margin: 0;
    min-height: 100%;
/*    padding-top: 43px;*/
    padding-bottom: 0;
}
.b-container_wide{
    margin: 0 auto;
    max-width: 1366px;
/*
    padding-left: 36px;
    padding-right: 36px;
*/
}
.b-container{
    margin: 0 auto;
    max-width: 1280px;
}
.b-header{
    position: relative;
/*    margin-top: 43px;*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 90px;
    padding: 0 24px;
    background-image: none;
    background-color: #f7f7f7;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #231f20;
}
.b-header.is_stuck{
    left: 0;
    right: 0;
}
.b-logo__link{
    margin-right: 65px;
}
.b-logo{
    padding-top: 15px;
    height: auto;
    width: 112px;
    
    -webkit-filter: drop-shadow(0 0 4px #bbb);
    filter: drop-shadow(0 0 4px #bbb);
}
.b-btn_menu{
/*    display: block;*/
    margin-right: auto;
    margin-bottom: 0;
    height: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
/*    padding-left: 20px;*/
    text-transform: uppercase;
    color: #231f20;
    line-height: 14px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.b-btn_menu .b-menu__icon{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 15px;
}
.b-btn_menu .b-icon_bars{
    position: absolute;
    top: 0;
    right: 0;
/*    display: inline-block;*/
    width: 20px;
    height: 15px;
    background-image: url(../img/bars.svg);
    line-height: 100%;
    vertical-align: top;
}
.b-menu__icon .fa{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 14px;
    font-size: 16px;
}
.opened>
.b-btn_menu b-btn__text{
    display: inline-block;
    line-height: 100%;
    vertical-align: top;
    line-height: 16px;
}
.b-adress_header{
    margin-right: auto;
/*    margin-left: auto;*/
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #231f20;
}
.b-header__link{
    margin-left: 35px;
    font-size: 14px;
    line-height: 16px;
    color: #231f20;
    text-decoration: none;
    white-space: nowrap;
}
.b-header__link:hover{
    color: #231f20;
}
.b-link__text{
    margin-left: 26px;
    display: inline-block;
}
.b-header__link .fa+.b-link__text,
.b-header__link .b-icon_phone+.b-link__text{
    margin-left: 10px;
}
.b-header__link .fa{
    font-size: 16px;
    vertical-align: -8%;
    vertical-align: -1px;
}
.b-header__link_email{
    margin-left: 0;
}
.b-call{
    position: relative;
    
}
.b-header__link_phone{
}
.b-icon_phone{
    display: inline-block;
/*    vertical-align: -16%;*/
    vertical-align: -3px;
    width: 16px;
    height: 16px;
    background-image: url(../img/phone.svg);
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.b-btn_lang{
    position: relative;
    margin-left: 30px;
    margin-right: 0;
    cursor: pointer;
}
.b-btn_lang:before{
    content: none;
}
.b-btn_lang:after{
    content: "\f0d7";
    margin-left: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f2c90c;
}
.b-link_lang{
    color: #f2c90c;
}
.b-dropdown_lang{
    visibility: hidden;
    opacity: 0;
    margin-bottom: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 0;
    list-style: none;
    text-align: left;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}
.b-btn_lang:hover .b-dropdown_lang{
    visibility: visible;
    opacity: 1;
}
.b-btn_callback, a.callback{
    position: absolute;
    top: 100%;
    right: 3px;
    bottom: 28px;
    margin: 0;
    height: 1em;
    padding: 0;
    border: none;
    font-size: 13px;
    line-height: 1em;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f2c90c;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}
a.callback:hover{
    color: #6f37a1;
}
.b-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 35px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 8px 35px 2px rgba(0,0,0,0.1);
}
.b-modal__btn_close {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 38px;
    height: 38px;
    background-color: #f2c916;
    font-size: 16px;
    line-height: 38px;
    cursor: pointer;
}
.b-menu__list{
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    list-style: none;
}
.b-menu__item{
    margin: 0;
    padding: 25px 25px 30px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #5b2d85;
}
.b-menu__item:last-child{
    border-right: none;
    flex-grow: 1;
}
/*
.b-menu__item:last-child{
    border-right: none;
    flex-grow: 1;
}
*/
.b-menu__item_callback{
    display: none;
}
.b-menu__heading{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #743aa7;
}
.b-menu__heading:hover{
    color: #743aa7;
}
.b-heading_submenu{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}
.b-submenu{
    margin: 0 0 25px;
    list-style: none;
}
.b-submenu:last-child{
    margin-bottom: 0;
}
.b-submenu li{
    font-weight: 300;
    margin-bottom: 5px;
}
.b-submenu li:last-child{
    margin-bottom: 0;
}
.b-submenu__link{
    text-decoration: none;
    color: #000;
}
.b-submenu__link:hover{
    text-decoration: underline;
    color: #61308e;
}
.b-submenu__link_more{
    font-weight: 700;
    text-decoration: underline;
    color: #f2c90c;
}
.b-submenu__link_more:hover{
    color: #f2c90c;
}

.b-footer{
    position: static;
    height: auto;
    background-image: none;
}
.b-footer__up{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.b-footer__part{
    background: url(../img/footer-bg.jpg) center/cover no-repeat ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-footer__part_left{
    width: 50%;
    min-height: 212px;
    padding-top: 32px;
    padding-left: 15px;
}
.b-footer__part_right{
    width: 50%;
    min-height: 232px;
    padding-top: 48px;
    padding-right: 15px;
/*    padding-left: 80px;*/
}
.b-part_footer{
    max-width: 520px;
}
.b-part_footer:after{
    content: '';
    clear: both;
    display: table;
}
.b-footer__part_left .b-part_footer{
    margin-left: auto;
}
.b-footer__part_right .b-part_footer{
    margin-right: auto;
}
.b-linkslist_footer{
    float: left;
    margin-bottom: 25px;
    list-style: none;
}
.b-footer__part_left .b-linkslist_footer:first-child{
    margin-left: -26px;
/*    margin-right: 135px;*/
    margin-right: 26%;
}
.b-footer__part_left .b-linkslist_footer:first-child~.b-linkslist_footer{
    margin-left: 26px;
}
/*
.b-footer__part_right .b-linkslist_footer:first-child{
    margin-right: 85px;
}
*/
.b-footer__part_right .b-linkslist_footer{
/*    margin-left: 85px;*/
    margin-left: 16%;
}
.b-linkitem_footer{
    line-height: 20px;
}
.b-linkitem_footer .b-header__link{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.b-linkitem_footer .b-link_footer{
    margin-left: 0;
}
.b-link_footer{
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}
.b-link_footer:hover{
    color: #fff;
}
.b-linkitem_footer .b-header__link_email{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}
.b-link_footer .b-link__text{
    text-decoration: underline;
}
.b-link_footer .fa{
    color: #f2c90c;
    vertical-align: -1px;
}
.b-callback_footer .fa{
    font-size: 19px;
}
.b-link_footer .b-icon_phone{
    background-image: url(../img/phone-yellow.svg);
}
.b-part_footer .b-adress_header{
    display: block;
    clear: both;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

.b-footer__up_mobile{
    display: none;
    background: url(../img/footer-bg.jpg) center/cover no-repeat;
}
.b-footer__up_mobile:after{
    content: '';
    display: block;
    height: 1px;
}
.b-footer__list_categories{
    list-style: none;
    margin: 0;
}
.b-footer__category{
    margin: 0;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom: 1px dashed #686566;
}
.b-footer__category:last-child{
    border-bottom: none;
}
.b-category__heading{
    display: block;
    line-height: 50px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    cursor: pointer;
}
.b-category__heading:after{
        content: "\f107";
        float: right;
        color: #f2c90c;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
.b-footer__category.opened>.b-category__heading:after{
    content: '\f106';
}
.b-accordion_content{
    display: none;
}
.b-category__list_links{
    list-style: none;
    margin: 0;
    padding-left: 10px;
    border-left: 1px solid #f2c90c;
}
.b-category__item{
    margin-bottom: 15px;
}
.b-category__link{
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.b-category__link:hover{
    color: #f2c90c;
}

.b-footer__down{
    border-top: 1px solid #a7a5a6;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    height: 74px;
    background-image: none;
    background-color: #231f20;
}
.b-footer__pay{
    width: 135px;
    margin: 0 auto;
    color: #fff;
    font-weight: 300;
}
.b-footer__pay .fa{
    margin-top: 7px;
    font-size: 30px;
}


@media (min-width: 1200px){
    body{
        padding-top: 43px;
    }
}
@media (max-width: 1199px){
    .b-menu__item{
        padding: 23px 23px 25px;
    }
    .b-menu__heading{
        font-size: 22px;
    }
    .b-footer__part_left .b-linkslist_footer:first-child {
        margin-left: 0;
    }
    .b-footer__part_right .b-linkslist_footer{
        margin-left: 13%;
    }
}
@media (min-width: 950px){
    .slider-content {
       padding-top: 3rem;
    }
}
@media (max-width: 991px){
    .b-logo__link {
        margin-right: 25px;
    }
    .b-adress_header{
        display: none;
    }
    .b-menu__item{
        padding: 20px 20px 23px;
    }
    .b-menu__heading{
        margin-bottom: 17px;
        height: 50px;
        font-size: 20px;
    }
    .b-menu__heading span{
        display: inline-block;
        vertical-align: middle;
    }
    .b-menu__heading:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .b-heading_submenu{
        font-size: 14px;
    }
    .b-submenu li {
        font-size: 13px;
    }
    .b-footer__part_left{
        padding-top: 24px;
    }
    .b-footer__part_right{
        padding-top: 32px;
    }
    .b-footer__part_left .b-linkslist_footer:first-child{
        margin-right: 9%;
    }
    .b-footer__part_left .b-linkslist_footer:last-child{
        margin-left: 26px;
    }
    .b-footer__part_right .b-linkslist_footer {
        margin-left: 7%;
    }
}
@media (max-width: 870px){
    .b-footer__part_right .b-linkslist_footer {
        margin-left: 2.4%;
    }
}
@media (max-width: 767px){
    .b-header__link_email{
        display: none;
    }
    .b-menu__list{
        display: block;
    }
    .b-menu__item, .b-menu__item:last-child{
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        border-bottom: none;
        border-right: 1px solid #6e4390;
        -webkit-transition: border 200ms;
        -o-transition: border 200ms;
        transition: border 200ms;
    }
    .b-menu__item:hover{
        border-right: 2px solid #f2c90c;
    }
    .b-modal__btn_close{
        left: 0;
        right: unset;
    }
/*
    .b-menu__heading{
        content: none;
    }
*/
    .b-menu__heading{
        margin-bottom: 0;
        height: auto;
        padding-right: 12px;
        line-height: 40px;
        font-size: 18px;
        text-align: right;
        -webkit-transition: padding 200ms;
        -o-transition: padding 200ms;
        transition: padding 200ms
    }
    .b-menu__item:hover .b-menu__heading{
        padding-right: 2px;
        color: #f2c90c;
    }
    .b-menu__heading:after{
        margin-left: 7px;
/*        content: "\f054";*/
        content: "\f105";
        display: inline-block;
/*        font: normal normal normal 14px/1 FontAwesome;*/
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .b-heading_submenu{
        display: none;
    }
    .b-submenu{
        display: none;
    }
    .b-menu a.callback{
        display: none;
    }
    .b-footer{
        margin-top: 30px;
    }
    .b-footer__up{
        display: none;
    }
    .b-footer__up_mobile{
        display: block;
    }
}
@media (max-width: 599px){
    .b-logo {
        width: 90px;
        padding-top: 13px;
    }
    .b-logo__link{
        margin-right: 0;
    }
    .b-header__link_phone{
        margin-left: 0;
        position: relative;
        width: 44px;
        height: 44px;
        display: block;
    }
    .b-header__link_phone .b-icon_phone{
        position: absolute;
        top: 0;right: 0;bottom: 0;left: 0;
        margin: auto;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: url(../img/phone-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: 14px 14px;
        background-size: 14px 14px;
        background-color: rgba(242,201,22, 0.33);
    }
    .b-header__link_phone:before{
        content: '';
        position: absolute;
        top: 0;right: 0;bottom: 0;left: 0;
        z-index: 0;
        margin: auto;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: rgba(242,201,22, 0.33);
    }
    .b-header__link_phone:after{
        content: '';
        position: absolute;
        top: 0;right: 0;bottom: 0;left: 0;
        z-index: 0;
        margin: auto;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(242,201,22, 0.33);
    }
    .b-header__link_phone>.b-link__text{
        display: none;
    }
    .b-call .b-btn_callback{
        display: none;
    }
    #langBtn{
        display: none;
    }
    .b-btn_menu{
        margin-right: 0;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-order: 1;
        -o-order: 1;
        order: 1;
    }
    .b-modal__btn_close{
        display: none;
    }
    .b-menu__heading{
        font-size: 16px;
    }
    .b-menu__item{
        text-align: right;
    }
    .b-menu a.callback{
        position: static;
        display: block;
        height: auto;
        padding-right: 12px;
        text-align: right;
        font-size: 14px;
        line-height: 40px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        border-right: 1px solid #6e4390;
        -webkit-transition: border 200ms;
        -o-transition: border 200ms;
        transition: border 200ms;
    }
    a.callback:hover{
        border-right: 2px solid #f2c90c;
        color: #f2c90c;
    }
}